asgiref==3.6.0
chardet==5.1.0
Django==4.2
django-excel==0.0.10
et-xmlfile==1.1.0
lml==0.1.0
openpyxl==3.1.2
psycopg==3.1.8
psycopg2==2.9.6
psycopg2-binary==2.9.6
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-webio==0.1.4
python-dotenv==1.0.0
sqlparse==0.4.4
texttable==1.6.7
typing_extensions==4.5.0
